body{
    background-image: linear-gradient(to top, #4602c5 0%, #d43f8d 100%);
    width: 100%;
    height: 100vh; 
}

.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}

.wrapper div{
    width: 70px;
    height: 70px;
    border: 5px solid white;
    position: absolute;
}

.wrapper div:nth-child(1){
    top: 10%;
    left: 30%;
    animation: square 5s linear infinite;
}

.wrapper div:nth-child(2){
    top: 20%;
    left: 50%;
    animation: square 8s linear infinite;
}

.wrapper div:nth-child(3){
    top: 60%;
    left: 10%;
    animation: square 9s linear infinite;
}

.wrapper div:nth-child(4){
    top: 50%;
    left: 40%;
    animation: square 11s linear infinite;
}

.wrapper div:nth-child(5){
    top: 40%;
    left: 60%;
    animation: square 7s linear infinite;
}

.wrapper div:nth-child(6){
    top: 80%;
    left: 30%;
    animation: square 13s linear infinite;
}

.wrapper div:nth-child(7){
    top: 10%;
    left: 10%;
    animation: square 12s linear infinite;
}

.wrapper div:nth-child(8){
    top: 20%;
    left: 85%;
    animation: square 8s linear infinite;
}

.wrapper div:nth-child(9){
    top: 75%;
    left: 65%;
    animation: square 9s linear infinite;
}

.wrapper div:nth-child(10){
    top: 80%;
    left: 85%;
    animation: square 7s linear infinite;
}

@keyframes square{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    } 
    100%{
        transform: scale(1.2) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
