* {box-sizing: border-box}
body {
/*background-image:linear-gradient(to top, darkmagenta 50%, floralwhite 50% );*/
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(128,7,168,1) 100%);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-family:'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
}

.flex-row{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

ul{
  list-style-type: none;
}

.text-gray{
  color: floralwhite;
}

.nav{
  background: darkmagenta;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  color:floralwhite;
  transition:height 1s ease-in-out;
}

.nav .nav-menu{
  justify-content: space-between;
}
.nav-toggle-collapse{
  position:absolute;
  top:0%;
  width: 100%;
  cursor:pointer;
  display:none;
}

.nav .toggle-collapse .toggle-icons{
  display:flex;
  justify-content: flex-end;
  padding: 1.7rem 0
}

.collapse{
  height:30rem;

}

.nav .toggle-collapse .toggle-icons i{
  font-size: 1.4rem;
  color:floralwhite;

}

.nav .nav-items{
  display: flex;
  margin:0;
  color:floralwhite;
}

.nav .nav-items .nav-link{
  padding:1.6rem 1rem;
  font-size: 1.1rem;
  position:relative;
  color:floralwhite;
}
.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  display:block;
  color:floralwhite;
}

.nav .social{
  padding: 1.4rem 0
}

.nav .social .login-button{
  background:floralwhite;
  color:darkmagenta;
  font-family:'Times New Roman', Times, serif;
  font-size:large;
  font-style: italic;
  font-weight: bold;
  padding:.5rem;
  border-radius: 6rem;
}

.nav .social .login-button:hover{
  cursor:pointer;    
}

.nav .nav-items .nav-link a{
  color:floralwhite;
  cursor:pointer;
}

.nav .nav-items .nav-link a:hover{
  font-size: 1.3rem;
  cursor:pointer;
}

.dropdown{
  float:left;
  overflow:hidden;
}

.dropdown-content{
  display:none;
  position:absolute;
  background-color:darkmagenta;
  z-index: 1;
}

.dropdown-content a{
  float:none;
  color:floralwhite;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left;
}

.dropdown:hover .dropdown-content{
  display:block;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
 .slideshow-container {
  max-width: 1000px;
  position: relative;
  top:100px;
  margin: auto;
}

h2{
  color:darkmagenta;
}



/* Next & previous buttons */
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 100px 2px;
  background-color: rgb(14, 1, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.active, .dot:hover {
  background-color: floralwhite;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.bg-text1,.bg-text2,.bg-text3 {
  background-color: floralwhite; /* Fallback color */
  background-color: floralwhite; /* Black w/opacity/see-    through */
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  text-align: center;
}

.bg-text1
{
top:150px;
padding: 0px 20px;
height:200px;
}

.bg-text2
{
top:180px;
padding: 20px;
}

.bg-text3
{
top:220px;
padding: 25px;
}

.wrapper{
  max-width: 1000px;
  height: auto;
  width: 100%;
  border-radius: 0px;
  background: floralwhite;
  margin: 100px auto;
  margin-top:-60px;
  box-shadow: 10px 10px 15px rgba(255,255,255);
  padding: 30px;
}
.wrapper .title{
  font-size: 55px;
  word-spacing: 7px;
  font-weight: bold;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  border-radius:0px;
  margin-bottom: 25px;
  color: darkmagenta;
  background: floralwhite ;
  margin-top: 0px;
  text-transform: uppercase;
  text-align: center;
}
.accordion {
  background-color: floralwhite;
  font-family:'Times New Roman', Times, serif;
  color: purple;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 21px;
  font-weight:normal;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: darkmagenta; 
  color:floralwhite
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: darkmagenta;
  font-size:20px;
  overflow: hidden;
  color: floralwhite;  
}
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: floralwhite;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: floralwhite;
  font-size: 35px;
  cursor: pointer;
}

footer.footer{
  height:100%;
  background:darkmagenta;
  position:relative;
}

footer.footer .container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer.footer .container > div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem .9rem;
}

footer.footer .container h2{
  color: floralwhite;
}
footer.footer .container p{
  color:whitesmoke;
}

footer.footer .newsletter .form-element{
  background:floralwhite;
  display:inline-block;
}

footer.footer .newsletter .form-element input{
  padding: .5rem .7rem;
  border:black;
  background:transparent;
  color:darkmagenta;
  font-family:'Times New Roman', Times, serif;
  font-size:1rem;
  width:74%;
}

footer.footer .newsletter .form-element span{
  background:floralwhite;
  color:darkmagenta;
  padding: .5rem .7rem;
  cursor:pointer;
}

footer.footer .instagram div > img{
  display:inline-block;
  width:25%;
  height:50%;
  margin: .3rem .4rem;
}

footer.footer .follow div i{
  color:floralwhite;
  padding:0.4rem;
}

footer.footer .follow div i:hover{
  cursor:pointer;
  opacity:0.7;
}

footer.footer .rights{
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

footer.footer .rights h4 {
  color:floralwhite;
}

footer.footer .move-up{
  position:absolute;
  right:6%;
  top:50%;
}

footer.footer .move-up span{
  color:pink;
}

footer.footer .move-up span:hover{
  color:floralwhite;
  cursor:pointer;
}